In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [2]:
df = DataFrame(np.arange(6).reshape(3,2),index=['AUDI','MERCEDEZ','TOYOTA'], columns=['PERFOMANCE','SAFETY'])
print(df)

          PERFOMANCE  SAFETY
AUDI               0       1
MERCEDEZ           2       3
TOYOTA             4       5

In [3]:
df.index = df.index.map(str.lower)
#Take value of df.index and map it to lower character alphabetically

In [4]:
print(df)

          PERFOMANCE  SAFETY
audi               0       1
mercedez           2       3
toyota             4       5

In [5]:
#Using rename
df.rename(index=str.title, columns=str.lower)

          perfomance  safety
Audi               0       1
Mercedez           2       3
Toyota             4       5

In [8]:
df.rename(index={'audi': 'The best car'}, columns={'SAFETY':'SAFETY_TEST'}, inplace=True)

In [9]:
df

              PERFOMANCE  SAFETY_TEST
The best car           0            1
mercedez               2            3
toyota                 4            5