In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [10]:
#Introduction to CSV files
#Importing csv files
df1 = pd.read_csv('cab_company.csv')
print(df1)

    Uber   6000  100  80  20
0   Lyft  50000   90  50  40
1   Grab  40000   80  60  20
2  Gojek  30000   70  40  30
3    Ola  20000   60  55   5

In [11]:
df1 = pd.read_csv('cab_company.csv', header=None)
print(df1)

       0      1    2   3   4
0   Uber   6000  100  80  20
1   Lyft  50000   90  50  40
2   Grab  40000   80  60  20
3  Gojek  30000   70  40  30
4    Ola  20000   60  55   5

In [12]:
#Read_table() function
df3 = pd.read_table("cab_company.csv", sep=',', header=None)
print(df3)

       0      1    2   3   4
0   Uber   6000  100  80  20
1   Lyft  50000   90  50  40
2   Grab  40000   80  60  20
3  Gojek  30000   70  40  30
4    Ola  20000   60  55   5

In [15]:
#Importing partial rows
df4 = pd.read_csv("cab_company.csv",nrows=3, header=None)
print(df4)

      0      1    2   3   4
0  Uber   6000  100  80  20
1  Lyft  50000   90  50  40
2  Grab  40000   80  60  20

In [16]:
#Dumping dataframe to csv file
df3.to_csv('output_companies1.csv' , sep=',')

In [17]:
df3.to_csv("output_companies2.txt", sep='!')

In [18]:
df3.to_csv('output_companies3.txt', columns=[0,1])