In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
#Dropping values from Series
cars = Series(['BMW','Audi','Mercedes'],index=['a','b','c'])
print(cars)

a         BMW
b        Audi
c    Mercedes
dtype: object

In [4]:
cars = cars.drop('a')
print(cars)

b        Audi
c    Mercedes
dtype: object

In [5]:
#Dropping rows and columns from a DataFrame
cars_df = DataFrame(np.random.randn(9).reshape(3,3), index=['BMW','Audi','Mercedes'], columns=['test1','test2','test3'])
print(cars_df)

             test1     test2     test3
BMW       0.828545 -0.239007  0.527466
Audi     -1.072630 -0.011622 -1.385258
Mercedes  0.108895  0.573841  0.218326

In [6]:
cars_df = cars_df.drop(['BMW'])
print(cars_df)

             test1     test2     test3
Audi     -1.072630 -0.011622 -1.385258
Mercedes  0.108895  0.573841  0.218326

In [12]:
cars_df = cars_df.drop(['test1'], axis=1)
print(cars_df)

             test2     test3
Audi     -0.011622 -1.385258
Mercedes  0.573841  0.218326