In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s1 = Series([1,2,3,4], index=['a','b','c','d'])
print(s1)

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
s1 = s1.reindex(['a','b','c','d','e','f'])
print(s1)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [5]:
#Reindexing in Series - reindex() method with full value
s1 = s1.reindex(['a','b','c','d','e','f','g'],fill_value=100)
print(s1)

a      1.0
b      2.0
c      3.0
d      4.0
e      NaN
f      NaN
g    100.0
dtype: float64

In [6]:
 #Reindexing in Series - forwardfill
cars = Series(['Audi','Mercedes','BMW'], index=[0,4,8])
print(cars)

0        Audi
4    Mercedes
8         BMW
dtype: object

In [7]:
new_index = range(12)
cars = cars.reindex(new_index, method='ffill')
print(cars)

0         Audi
1         Audi
2         Audi
3         Audi
4     Mercedes
5     Mercedes
6     Mercedes
7     Mercedes
8          BMW
9          BMW
10         BMW
11         BMW
dtype: object

In [9]:
#Reindexing in Dataframe
df1 = DataFrame(np.random.rand(25).reshape(5,5),index=['a','b','c','d','e'], columns=['c1','c2','c3','c4','c5'])
print(df1)

         c1        c2        c3        c4        c5
a  0.673845  0.464064  0.429351  0.230330  0.713451
b  0.057270  0.516326  0.277930  0.667751  0.783070
c  0.757712  0.694543  0.256321  0.223781  0.158588
d  0.274960  0.108118  0.148969  0.851487  0.706419
e  0.201693  0.694460  0.428630  0.042447  0.769744

In [11]:
df1 = df1.reindex(index=['a','b','c','d','e','f'], columns=['c1','c2','c3','c4','c5','c6'])
print(df1)

         c1        c2        c3        c4        c5  c6
a  0.673845  0.464064  0.429351  0.230330  0.713451 NaN
b  0.057270  0.516326  0.277930  0.667751  0.783070 NaN
c  0.757712  0.694543  0.256321  0.223781  0.158588 NaN
d  0.274960  0.108118  0.148969  0.851487  0.706419 NaN
e  0.201693  0.694460  0.428630  0.042447  0.769744 NaN
f       NaN       NaN       NaN       NaN       NaN NaN

In [15]:
more_additions = Series([5,6,7,8,9,204], index=['a','b','c','d','e','f'])
df1['c5'] = more_additions
print(df1)

         c1        c2        c3        c4   c5   c6    f
a  0.673845  0.464064  0.429351  0.230330    5    5  5.0
b  0.057270  0.516326  0.277930  0.667751    6    6  6.0
c  0.757712  0.694543  0.256321  0.223781    7    7  7.0
d  0.274960  0.108118  0.148969  0.851487    8    8  8.0
e  0.201693  0.694460  0.428630  0.042447    9    9  9.0
f       NaN       NaN       NaN       NaN  204  204  NaN

In [17]:
del(df1['c6'])

In [18]:
print(df1)

         c1        c2        c3        c4   c5    f
a  0.673845  0.464064  0.429351  0.230330    5  5.0
b  0.057270  0.516326  0.277930  0.667751    6  6.0
c  0.757712  0.694543  0.256321  0.223781    7  7.0
d  0.274960  0.108118  0.148969  0.851487    8  8.0
e  0.201693  0.694460  0.428630  0.042447    9  9.0
f       NaN       NaN       NaN       NaN  204  NaN

In [19]:
del(df1['f'])

In [20]:
print(df1)

         c1        c2        c3        c4   c5
a  0.673845  0.464064  0.429351  0.230330    5
b  0.057270  0.516326  0.277930  0.667751    6
c  0.757712  0.694543  0.256321  0.223781    7
d  0.274960  0.108118  0.148969  0.851487    8
e  0.201693  0.694460  0.428630  0.042447    9
f       NaN       NaN       NaN       NaN  204