In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
series1 = Series([100,200,300],index=['a','b','c'])
print(series1)

a    100
b    200
c    300
dtype: int64

In [5]:
#Access single element of series
series1['a']

100

In [6]:
series1['b']

200

In [7]:
series1[['a','c']]

a    100
c    300
dtype: int64

In [8]:
#Using numerical indexes
series1[0]

100

In [9]:
#Conditional Indexes
series1[series1 > 150]

b    200
c    300
dtype: int64

In [11]:
series1[series1==200]

b    200
dtype: int64

In [13]:
#Accessing one or more column from a DataFrame
df1 = DataFrame(np.arange(9).reshape(3,3), index=['car','bike','cycle'], columns=['c1','c2','c3'])
print(df1)

       c1  c2  c3
car     0   1   2
bike    3   4   5
cycle   6   7   8

In [14]:
df1['c1']

car      0
bike     3
cycle    6
Name: c1, dtype: int64

In [15]:
df1[['c1','c3']]

       c1  c3
car     0   2
bike    3   5
cycle   6   8

In [16]:
#Boolean operation in a DataFrame
df1 > 5

          c1     c2     c3
car    False  False  False
bike   False  False  False
cycle   True   True   True

In [17]:
#Using the DataFrame.Loc[] attribute
df1.loc['car']

c1    0
c2    1
c3    2
Name: car, dtype: int64

In [19]:
df1.loc[:,'c1']

car      0
bike     3
cycle    6
Name: c1, dtype: int64

In [20]:
df1.loc['bike','c1']

3